<template>
    <ui-card title="HelloWorld">
        <div>
            <p>Ciao, {greeting}!</p>
            <ui-input
                label="Name"
                value={greeting}
                onchange={handleChange}
            ></ui-input>
        </div>

        <components-view-source source="components/helloWorld" slot="footer">
            Change the value of a bound property when the value of an input
            field changes. Type something in the input field to see the components
            in action.
        </components-view-source>
    </ui-card>
</template>
